<!DOCTYPE html>
<html>
  <head>
    <title>Favorites Organizer powered by Cloudant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <h1>Offers page</h1>

    <ul>
    <% campaigns.forEach(function (campaign) { %>
      <li>
        <dl>
          <dt>Description:</dt>
          <dd><%= campaign.description || 'N/A' %></dd>
          <dt>Amount:</dt>
          <dd><%= campaign.amount.currency %> <%= (campaign.amount.value / 100).toFixed(2) %></dd>
          <dt>Customer:</dt>
          <dd><%= campaign.customer.name %></dd>
          <dt>Broker:</dt>
          <dd><%= campaign.broker.name %></dd>
          <dt>Number of bids:</dt>
          <dd><%= campaign.bids.length %></dd>
        </dl>
        <ul>
          <h5>attachments</h5>
          <% Object.keys(campaign._attachments).forEach(function (filename) { %>
            <% var attachment = campaign._attachments[filename] %>
            <li><a target="_blank" href="<%= attachment.url %>"><%= filename %></a></li>
          <% }) %>
        </ul>

        <a href="<%= campaign.bidUrl %>">Make a bid</a>
      </li>
    <% }) %>
    </ul>
  </body>
</html>
