<!DOCTYPE html>
<html>
  <head>
    <title>Favorites Organizer powered by Cloudant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="/dependencies/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <h1>Bid</h1>

    <dl>
      <dt>Bidder:</dt>
      <dd><%= bid.entity.name %></dd>
      <dt>Cut:</dt>
      <dd><%= bid.cut %>%</dd>
    </dl>

    <form method="POST" action="<%= bid.acceptUrl %>">
      <button type="submit">Accept bid</button>
    </form>

    <dl>
      <dt>Description:</dt>
      <dd><%= campaign.description || 'N/A' %></dd>
      <dt>Amount:</dt>
      <dd><%= campaign.amount.currency %> <%= (campaign.amount.value / 100).toFixed(2) %></dd>
      <dt>Customer:</dt>
      <dd><%= campaign.customer.name %></dd>
      <dt>Broker:</dt>
      <dd><%= campaign.broker.name %></dd>
    </dl>

    <ul>
      <h5>attachments</h5>
      <% Object.keys(campaign._attachments).forEach(function (filename) { %>
      <% var attachment = campaign._attachments[filename] %>
      <li><a target="_blank" href="<%= attachment.url %>"><%= filename %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
